/* 头部css样式 */
.shortcut {
    margin: 0;
    height: 80px;
    background-color: #eee8e845;
}

.head-header
{
    float: right;
    width: 60px;
    height: 60px;
    background-color: aquamarine!important;
    margin: 10px 60px 10px 0;
    border-radius: 30px;
}

.message-header,
.collect-header,
.classify-header,
.history-header,
.create-header {
    float: left;
    width: 60px;
    height: 60px;
    background-color: aquamarine!important;
    border-radius: 30px;
    margin: 10px 0 10px 60px;
}

.header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.self {
    display: none;
    width: 260px;
    height: 380px;
    position: fixed;
    border: #ebebeb solid 1px!important;
    top: 70px;
    right: 0;
    background-color: bisque!important;
    z-index: 9999;
    border-radius: 15px;
}

.self ul li {
    font-size: 20px;
    line-height: 40px;
    padding: 10px 25px;
    width: 220px;
    height: 60px;
    margin: 20px;
    color: #000!important;
}

.self ul li a {
    color: #000!important;
    text-decoration: none!important;
}

.self ul li a:hover {
    color: #fff!important;
}

.quit {
    color: #333!important;
    font-size: 16px;
    margin: 5px 40px;
    cursor: pointer!important;
}

.quit:hover {
    color: #fff!important;
}

/* 版心css样式 */
.w {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}


.search {
    float: left;
    width: 570px;
    height: 60px;
    border: 3px solid rgba(17, 93, 205, 0.893);
    border-radius: 25px;
    margin: 10px 0 10px 80px;
    /* 溢出隐藏 */
    overflow: hidden;
}

.search input {
    float: left;
    width: 500px;
    height: 60px;
    border: none;
    background: none;
    outline: none;
    color: rgba(17, 93, 205, 0.893);
    line-height: 60px;
    font-size: 24px;
    text-indent: 8px;
}

.s_search {
    border-left: 2px solid rgba(17, 93, 205, 0.893);
    padding-left: 6px;
    float: left;
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
}

.part1 {
    background-color: #f5f5f5;
    height: 130px;
    margin-top: 10px;
}

.first-classify {
    position: relative;
}

.part1-tag {
    float: left;
    padding: 5px;
    width: 1100px;
    height: 120px;
    box-sizing: border-box;
    border-right: 2px solid #5555;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
}

.part1-tag li {
    float: left;
    width: 120px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.755);
    margin: 10px 30px;
    border-radius: 5px;
}

.part1-tag li:hover {
    cursor: pointer;
    background-color: rgba(20, 172, 156, 0.5);
}


.tag-more {
    float: left;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 80px;
    font-size: 24px;
    text-align: center;
    color: #555!important;
    margin: 25px;
    border: 1px solid rgba(20, 172, 156, 0.511);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(20, 172, 156, 0.511) inset;
}

.tag-more a {
    text-decoration: none!important;
}

.tag-more a:hover {
    color: black!important;
}

.part1-tag-more {
    width: 670px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 120%;
    background-color: rgba(0, 128, 0, 0.189);
}

.panel .panel_header {
    height: 115px;
    padding: 40px 0;
}

.panel .panel_header h3 {
    height: 35px;
    line-height: 35px;
    margin-left: 6px;
    font-size: 32px;
    font-weight: 400;
    color: #333!important;
    float: left;
}

.panel .panel_header small {
    margin-left: 22px;
    font-size: 16px;
    color: #999!important;
}

.panel .panel_header .more {
    line-height: 1;
    margin-top: 14px;
    font-size: 16px;
    color: #999!important;
    float: right;
}

.panel .panel_header a {
    text-decoration: none!important;
}

.panel .panel_header a:hover {
    color: #000!important;
}

.panel .panel_header .more i {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 1px;
    background-position: 8px -107px;
}

.panel .panel_header .tabs-bar {
    height: 35px;
    padding-top: 13px;
    font-size: 16px;
    margin-right: 80px;
    float: right;
}

.panel .panel_header .tabs-bar a {
    padding: 2px 8px;
    margin-left: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.panel .panel_header .tabs-bar a:hover,
.panel .panel_header .tabs-bar a.active {
    background-color: #5eb69c;
    color: #fff;
}

.panel .panel_goods_1 {
    text-align: justify;
    font-size: 0;
}

.panel .panel_goods_1:after {
    content: '';
    display: inline-block;
    width: 280px;
    height: 0;
}

.panel .panel_goods_1 a {
    display: inline-block;
    width: 280px;
    height: 420px;
    text-align: center;
}

.panel .panel_goods_1 a:hover {
    text-decoration: none;
    color: #000;
}

.panel .panel_goods_1 img {
    width: 240px;
    height: 280px;
    margin: 10px;
}

.panel .panel_goods_2 {
    height: 610px;
}

.panel .panel_goods_2 .fside {
    width: 220px;
    height: 570px;
}

.panel .panel_goods_2 .side1 li {
    width: 220px;
    height: 45px;
    margin: 4px 0;
    list-style: none;
    display: block;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
}

.panel .panel_goods_2 .side1 li:hover {
    background-color: #5eb69c;
    cursor: pointer;
}

.panel .panel_goods_2 .side1 h3 {
    text-align: center;
    width: 220px;
    height: 45px;
    line-height: 45px;
    color: #000;
}


.panel .panel_goods_2 li {
    width: 220px;
    height: 280px;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #fff;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    float: left;
}

.panel .panel_goods_2 li:hover {
    border-color: #5eb69c;
}

.panel .panel_goods_2 li:hover .extra {
    bottom: 0;
}

.panel .panel_goods_2 li:nth-last-child(-n+4) {
    margin-top: 10px;
}

.panel .panel_goods_2 a {
    display: block;
    text-decoration: none;
}

.panel .panel_goods_2 .img-box {
    width: 220px;
    height: 280px;
    text-align: center;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.panel .panel_goods_2 img {
    width: 220px;
    height: 300px;
}

.panel .panel_goods_2 .meta {
    height: 130px;
    line-height: 1.3;
    padding: 10px 22px 0;
    font-size: 19px;
    position: relative;
}

.panel .panel_goods_2 .name {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.panel .panel_goods_2 .price {
    font-size: 22px;
    color: #9A2E1F;
    position: absolute;
    bottom: 10px;
}

.panel .panel_goods_2 .price small {
    font-size: 17px;
}

.panel .panel_goods_2 .extra {
    width: 100%;
    height: 86px;
    padding-top: 10px;
    transition: bottom .3s;
    background-color: #5EB69C;
    position: absolute;
    bottom: -86px;
}

.panel .panel_goods_2 .extra span {
    display: block;
    width: 220px;
    line-height: 1;
    padding: 9px 0 8px;
    margin: 0 auto;
    text-align: center;
    font-size: 19px;
    color: #fff;
}

.panel .panel_goods_2 .extra span:last-child {
    font-size: 13px;
    border-top: 1px solid #fff;
}

.panel .panel_goods_2 .label {
    position: absolute;
    left: 0;
    bottom: 266px;
    width: 188px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    color: #fff;
    font-size: 17px;
    border-radius: 0 2px 2px 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
}

.panel .panel_goods_2 .label span:first-child {
    display: block;
    width: 76px;
    background-color: #000;
}

.panel .panel_goods_2 .label span:last-child {
    width: 112px;
    line-height: 1.4;
    transform: translate(0, -50%);
    position: absolute;
    left: 76px;
    right: 0;
    top: 50%;
}

/** 新书上新 **/
.goods_new .panel_goods_1 a {
    background-color: #F0F9F4;
    transition: .3s;
    position: relative;
    top: 0;
}

.goods_new .panel_goods_1 a:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    top: -3px;
}

.goods_new .panel_goods_1 .name {
    display: block;
    width: 100%;
    font-size: 22px;
    margin: 10px 0;
}

.goods_new .panel_goods_1 .price {
    font-size: 23px;
    color: #9A2E1F;
}

/** 人气推荐 **/
.goods_popular {
    padding-bottom: 42px;
}

.goods_popular .panel_goods_1 a {
    transition: 0.5s;
}

.goods_popular .panel_goods_1 a:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transform: translate(0, -3px);
}

.goods_popular .panel_goods_1 .title {
    display: inline-block;
    width: 100%;
    line-height: 1;
    margin: 20px 0 16px;
    font-size: 22px;
}

.goods_popular .panel_goods_1 .alt {
    font-size: 18px;
    color: #999;
}

.goods_classify {
    background-color: #f5f5f5;
    padding-bottom: 80px;
}

/* 讨论区样式 */
.talk {
    /* height: 1200px; */
    height: 100vh;
    position: relative;
}

.content ul {
    height: 480px;
    overflow: scroll;
}

.content ul li {
    width: 1100px;
    height: 80px;
    margin: 20px auto;
    background-color: rgba(218, 195, 195, 0.181);
    font-size: 18px;
    line-height: 30px;
    padding-left: 10px;
    overflow: scroll;
}

.content ul li a {
    text-decoration: none;
    float: right;
    margin: auto 20px;
}

.content ul li a:hover {
    color: #000;
}

.fab {
    position: absolute;
    bottom: 10px;
    background-color: #f5f5f5;
    width: 1200px;
    height: 100px;
}
textarea {
    width: 90%;
    height: 100px;
    border: 1px solid pink;
    outline: none;
    resize: none;
}
button {
    position: absolute;
    bottom: 20px;
    right: 3%;
    width: 60px;
    height: 30px;

}
/* 底部样式 */

.footer {
    border-top: 1px solid #e4e4e4;
    background-color: #e4e4e4;
}


.footer .contact {
    padding: 60px 0 40px 25px;
    margin: 0 130px;
}

.footer .contact dl {
    height: 190px;
    text-align: center;
    padding: 0 72px;
    border-right: 1px solid #f2f2f2;
    color: #000;
    float: left;
}

.footer .contact dl:first-child {
    padding-left: 0;
}

.footer .contact dl:last-child {
    border-right: none;
    padding-right: 0;
}

.footer .contact dt {
    line-height: 1;
    font-size: 18px;
}


.footer .contact dd {
    margin: 36px 12px 0 0;
    float: left;
}

.footer .contact dd:last-child {
    margin-right: 0;
}

.footer .contact .chat,
.footer .contact .feedback,
.footer .contact .weixin,
.footer .contact .weibo {
    width: 92px;
    height: 92px;
    padding-top: 20px;
    border: 1px solid #ededed;
    background-color: #fff;
}

.footer .contact .chat:before,
.footer .contact .feedback:before,
.footer .contact .weixin:before,
.footer .contact .weibo:before {
    content: '';
    display: block;
    width: 40px;
    height: 30px;
    margin: 0 auto 8px;
    background-image: url(../images/sprites.png);
    background-size: 400px 400px;
}

.footer .contact .chat:before {
    background-position: -245px -70px;
}

.footer .contact .chat:hover:before {
    background-position: -200px -70px;
}

.footer .contact .feedback:before {
    background-position: -345px -70px;
}

.footer .contact .feedback:hover:before {
    background-position: -295px -70px;
}

.footer .contact .weixin:before {
    background-position: -247px -15px;
}

.footer .contact .weixin:hover:before {
    background-position: -202px -15px;
}

.footer .contact .weibo:before {
    background-position: -347px -15px;
}

.footer .contact .weibo:hover:before {
    background-position: -297px -15px;
}

.footer .contact .qrcode {
    width: 92px;
    height: 92px;
    border: 1px solid #ededed;
}

.footer .contact .qrcode img {
    width: 92px;
    height: 92px;
}

.footer .contact .download {
    padding-top: 5px;
    font-size: 14px;
}

.footer .contact .download span {
    display: block;
}

.footer .contact .download a {
    display: block;
    line-height: 1;
    padding: 10px 25px;
    margin-top: 5px;
    color: #fff;
    border-radius: 2px;
    background-color: #5eb69c;
    text-decoration: none;
}

.footer .contact .hotline {
    padding-top: 20px;
    font-size: 22px;
    color: #000;
}

.footer .contact .hotline small {
    display: block;
    font-size: 15px;
    color: #000;
}

/* 侧边栏样式 */

.slider-bar {
    position: absolute;
    left: 50%;
    top: 500px;
    margin-left: 600px;
    width: 60px;
    height: 190px;
    background-color: transparent;
    font-size: 22px;
}

.slider-classify {
    position: absolute;
    height: 40px;
    width: 60px;
    padding: auto;
    border-radius: 5px 5px 0 0;
    background-color: rgba(255, 192, 203, 0.449);
    text-align: center;
}

.slider-wait1 {
    position: absolute;
    height: 40px;
    top: 40px;
    width: 60px;
    padding: auto;
    background-color: rgba(255, 192, 203, 0.449);
    text-align: center;
}

.slider-wait2 {
    position: absolute;
    top: 80px;
    height: 40px;
    width: 60px;
    padding: auto;
    background-color: rgba(255, 192, 203, 0.449);
    text-align: center;
}



.slider-bar span {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 0, 0.334);
    height: 70px;
    bottom: 0px;
    border-radius: 0 0 5px 5px;
    text-align: center;
    /* padding: auto; */
    cursor: pointer;
}