.shortcut {
  margin: 0;
  height: 80px;
}

body {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: linear-gradient(114.46659226298777deg, rgba(190, 237, 227, 1) 16.991539979964926%, rgba(160, 209, 222, 1) 94.0721105458785%);
}


.search {
  float: left;
  /* 默认宽度为0(隐藏) */
  width: 1010px;
  height: 60px;
  border: 3px solid #fff;
  border-radius: 25px;
  margin: 30px 0px 0 80px;
  /* 溢出隐藏 */
  overflow: hidden;
}

.search input {
  float: left;
  width: 940px;
  height: 60px;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  line-height: 60px;
  font-size: 24px;
  text-indent: 8px;
}

.s_search {
  border-left: 2px solid #fff;
  padding-left: 6px;
  float: left;
  width: 60px;
  height: 60px;
  font-size: 24px;
  line-height: 60px;
}

.classify-header img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.classify-header {
  float: right;
  width: 60px;
  height: 60px;
  background-color: aquamarine;
  border-radius: 30px;
  margin: 20px 100px 0 0;
}